html {
  font-family: Helvetica;
  text-align: center;
}

body { background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
       background-repeat: no-repeat;
      }

h1 {
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 70px;
}
h3 {
   font-family: Helvetica;
   font-size: 32px;
   font-weight: bold;
}
h5 {
   font-family: Helvetica;
   font-size: 23px;
   font-weight: bold;
}
h4,
image {
      background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
    }
h4 {
   color: white;
   font-size: 23px;
}

li {
  font-size: 18px;
  text-align: center;
  font-family: Helvetica;
  list-style-type: none;
  color: white;
  padding: 0px;

  }

p{
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}

a {
  text-decoration: underline;
  color: white;
}
.bottom {
     background-color: DimGray;
     display: inline;
     margins: 0;
     padding: 2px;
     float: left;
     font-size: 18px;
     font-family: Helvetica;
}
