html {
  font-family: Helvetica;
  text-align: center;

}


h1 {
  color: pink;
  font-family: Helvetica;
  font-weight: bold;
}

li {
  font-size: 24px;
  text-align: center;
  padding: 5px 0;
  }

a {
  text-decoration: none;
}
